Flask
Flask-Bootstrap
Flask-PyMongo
flask-restful
Flask-WTF
futures
h5py
joblib==0.13.2
matplotlib==3.0.2
numpy==1.15.4
pandas==0.24.0
pathlib2
PyJWT
pymongo
pyOpenSSL
python-dateutil
requests
scikit-learn==0.20.2
scipy==1.10.0
simplejson
Werkzeug
WTForms
xgboost==0.81